
<!--
<h2 *ngIf="showTitle; else showError">This is heading, cat!</h2>
<ng-template #showError> Title is not available. </ng-template>
<span>Student Name is: {{studentName}} </span>


<input type="text" [value]="studentName" id="uname" />

<input [ngModel]="studentName" />
<input type="button" value="click me" (click)="logMessage()"/>

<ul>
  <li *ngFor="let e of employees">{{e}}</li>
</ul>

<div [ngSwitch="stateAcc">
  <div *ngSwitchCase="'IL'">ILLINIOS</div>
  <div *ngSwitchCase="'VA'">VIRGINIA</div>
  <div *ngSwitchCase="'TX'">TEXAS</div>
  <div *ngSwitchDefault="">Provide Some Value</div>
</div>
-->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MovieShop App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="movie/list">Movie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="genre/list">Genre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cast/list">Cast</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<div class="container">
    <router-outlet>
    
    </router-outlet>
</div>
