<!--
  <div class="row">
    <div class="col-3 mb-5">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-3 mb-5">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-3 mb-5">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-3 mb-5">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>

-->

<p>list-movie works!</p>
<div class="row row-cols-5">
    <!--<a [routerLink]="https://localhost:7250/api/Movie/">-->
    <div *ngFor="let m of movies">          
          <div class="card" style="width: 10rem;">
              <img [src]="m.posterUrl" class="card-img-top" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{m.title}}</h5>
                <p class="card-text">{{m.overview}}</p>
                <a target="_blank" asp-controller = "movie" asp-action = "detail" asp-route-movieId = "m.id" class="btn btn-primary">Show Details</a> 
                <!--<a target="_blank" routerLink="https://localhost:7250/api/Movie/"+{{m.id}} class="btn btn-primary">Show Details</a>-->
              </div>
          </div>
    </div>
</div>
