<!--  <a href="genre/add">Add New Genre</a>  -->
<table class="table table-stripped table-hover">
    <thead>     
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let g of genres">
            <td>{{g.id}}</td>
            <td>{{g.name}}</td>
            <td>
                <input type="button" value="Delete" class="btn btn-danger" (click)="DeleteGenreById(g.id)" />
            </td>
        </tr>
    </tbody>
</table>
